menu "CORE CORE Configuration"
    config CORE_CORE_INCLUDE_STATIC_LIB
        bool "Enable include static lib(from gcc)"
        default n
        help
            Enable include static lib(from gcc)
endmenu